.App {
  font-family: "Delius", cursive;
  text-align: center;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  color: #CDDC39;
  padding: 50px;
  min-height: 100vh;
}

.container {
  border-radius: 35px;
  padding: 50px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-size: cover;
  background-position: center;
  max-width: 960px;
}

.row {
  padding: 0px 0px 40px;
}

.wrap {
  max-width: 800px;
  margin: 60px auto;
}

.currentDT {
  padding-top: 35px;
  padding-left: 0;
}

.wind-info {
  text-align: left;
  margin-bottom: -25px;
  padding-top: 10px;
}
