.weatherNext5 {
  margin: 45px 25px 0 25px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 15px;
  color: #303f9f;
}

.weatherNext5 .row {
  padding: 12px 0px 17px 0px;
  font-weight: 900;
}

.dayDay {
  text-align: right;
  padding-top: 10px;
}

.dayTemp {
  text-align: left;
  padding-top: 10px;
}
