.currentTemp {
  font-size: 100px;
  font-family: "Codystar", cursive;
  font-weight: 900;
  color: #0000cd;
}

.tempId {
  color: #180846;
  top: -60px;
  position: relative;
  text-decoration: none;
}

.tempId a {
  text-decoration: none;
}
