h1 {
  font-family: "Codystar", cursive;
  font-weight: 900;
  color: #0000cd;
  margin-bottom: 40px;
}

li {
  list-style-type: none;
}

.search-city {
  text-align: right;
}

.search-city-input {
  width: 300px;
  height: 35px;
}

.my-weather {
  text-align: left;
  margin-left: -19px;
}

.weatherToday {
  background: linear-gradient(
    179.2deg,
    rgb(21, 21, 212) 0.9%,
    rgb(53, 220, 243) 95.5%
  );
  border-radius: 15px;
  padding-top: 20px;
  margin: 0 25px;
}

.weatherToday .col-1 {
  padding-left: 40px;
}

.weatherToday .col-3 {
  padding-left: 60px;
}

.weatherToday .col-4 .weatherIcon {
  padding: 10px 50px 10px 0;
}

.weatherNow {
  text-transform: capitalize;
  font-weight: 900;
}

.CurrentDate {
  text-align: left;
}

.currentTime {
  font-size: 45px;
}

.weatherTodayIcon {
  color: #d99650;
  font-size: 70px;
}
